body, html {
  height: 100%;
  margin: 0;
  background-color: black;
}

#root {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;     
  background-color: #f8f9fa;
}

.container {
  max-width: 600px; 
  width: 90%;        
}
